<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="gemoDream.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<appSettings><add key="ClientLibrary.gemoDreamService.GdrService" value="http://gravizapa/gemodream/gdrService.asmx"/></appSettings><applicationSettings>
        <gemoDream.Properties.Settings>
            <setting name="ClientLibrary_localhost_GdrService" serializeAs="String">
                <value>http://localhost/gemoDream/gdrService.asmx</value>
            </setting>
        </gemoDream.Properties.Settings>
    </applicationSettings>
</configuration>
